.headercss {
    color: rgb(90, 36, 0);
    font-family: cursive;
    padding-top: 30px;
    background-image: linear-gradient(to right, #002e06, #00b400,#002e06 );
    
}
.welcome {
    color:rgb(23, 0, 151);
}

body.beansBack{ 
    background-image:
    url("Roasted_coffee_beans.jpg");
    /* https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/800px-Roasted_coffee_beans.jpg */
}

.whiteThis {
    color: rgba(255, 255, 255, 1);
    font-family: cursive;
    font-size: large;
    background-color:rgba(90, 36, 0, 0.75);   
}

.GB {
    background-color: rgba(189,185,150,255);
}

.GBRob {
    background-color: #854c28;
    color:rgb(255, 255, 255)
}

.headerGB {
    color: rgb(134, 235, 125);
    font-family: cursive;
    padding-top: 30px;
    background-image: linear-gradient(to right, #002e06, rgb(85, 59, 2),#002e06 );
    
}
.headerRL {
    color: rgb(134, 235, 125);
    font-family: cursive;
    padding-top: 30px;
    background-image: linear-gradient(to right, #1a161d, #553629,#1a161d );
    
}


ul {
    list-style: none;
    padding-left: 0;
}

body.LRoast{ 
    background-image:
    url("../Images/Roast Variation/BeanBackMod/LightRoast.jpg");
}

body.RLevel{ 
    background-image:
    url("../Images/Roast Variation/RoastGradientCrop.jpg");
}

body.MRoast{ 
    background-image:
    url("../Images/Roast Variation/BeanBackMod/MediumRoast.jpg");
}

body.MDRoast {
    background-image:
    url("../Images/Roast Variation/BeanBackMod/MediumDark.jpg");
}

body.DRoast {
    background-image:
    url("../Images/Roast Variation/BeanBackMod/FrenchRoast.jpg");
}

.whiteThisMR {
    color: rgba(255, 255, 255, 1);
    /* font-family: cursive; */
    font-size: large;
    background-color:#553629; 
    list-style: circle;  
}
.bullets {
    list-style: circle;
}

.whiteThisRL {
    color: rgba(255, 255, 255, 1);
    /* font-family: cursive; */
    font-size: large;
    background-color:#554b41; 
    list-style: circle;  
}

.whiteThisLR {
    color: rgba(255, 255, 255, 1);
    /* font-family: cursive; */
    font-size: large;
    background-color:#694f37; 
    list-style: circle;  
}

.whiteThisMDR {
    color: rgba(255, 255, 255, 1);
    /* font-family: cursive; */
    font-size: large;
    background-color: #362219; 
    list-style: circle;  
}

.whiteThisDR {
    color: rgba(255, 255, 255, 1);
    /* font-family: cursive; */
    font-size: large;
    background-color: #1f130e; 
    list-style: circle;  
}

.link li:hover {
    cursor: pointer;
    color: rgb(0, 255, 0);
}
